layout {

    focus-ring {
        active-color   "#006a67"
        inactive-color "#f6f9ff"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#006a67"
        inactive-color "#f6f9ff"
        urgent-color   "#ba1a1a"
    }


    tab-indicator {
        active-color   "#006a67"
        inactive-color "#70f7f1"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#006a6780"
    }
}

recent-windows {
    highlight {
        active-color "#006a67"
        urgent-color "#ba1a1a"
    }
}
